[submodule ".local/share/dmenu"]
	path = .local/share/dmenu
	url = https://github.com/aidanhopper/dmenu
[submodule ".local/share/dwm"]
	path = .local/share/dwm
	url = https://github.com/aidanhopper/dwm
[submodule ".local/share/dwmblocks"]
	path = .local/share/dwmblocks
	url = https://github.com/aidanhopper/dwmblocks
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/aidanhopper/nvim
[submodule "st"]
	path = st
	url = https://github.com/aidanhopper/st
[submodule ".local/share/st"]
	path = .local/share/st
	url = https://github.com/aidanhopper/st
[submodule ".config/zsh/typewritten"]
	path = .config/zsh/typewritten
	url = https://github.com/reobin/typewritten
[submodule ".config/zsh/zsh-syntax-highlighting"]
	path = .config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".local/share/nvim/site/pack/packer/start/packer.nvim"]
	path = .local/share/nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule ".local/share/picom"]
	path = .local/share/picom
	url = https://github.com/yshui/picom
