[submodule ".local/share/dmenu"]
	path = .local/share/dmenu
	url = https://github.com/aidanhopper/dmenu
[submodule ".local/share/dwm"]
	path = .local/share/dwm
	url = https://github.com/aidanhopper/dwm
[submodule ".local/share/dwmblocks"]
	path = .local/share/dwmblocks
	url = https://github.com/aidanhopper/dwmblocks
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/aidanhopper/nvim
