*.alphast:0.85
*.alphadm:0xB0
*.font: JetBrainsMono Nerd Font:size=15
*.dmenufont: JetBrainsMono Nerd Font:size=25


!! nord:
*.foreground: #e5e9f0
*.background: #242933
! *.background: #2e3440
*.color0:     #2e3440
! *.color8:     #4c566a
*.color8:     #3b4252
*.color1:     #bf616a
*.color9:     #bf616a
*.color2:     #a3be8c
*.color10:    #a3be8c
*.color3:     #ebcb8b
*.color11:    #ebcb8b
*.color4:     #81a1c1
*.color12:    #81a1c1
*.color5:     #b48ead
*.color13:    #b48ead
*.color6:     #88c0d0
*.color14:    #88c0d0
*.color7:     #d8dee9
*.color15:    #eceff4

!! gruvbox:
! *.foreground: #e5e9f0
! *.background: #242933
! *.color0:     #32302f
! *.color8:     #927374
! *.color1:     #ea6962
! *.color9:     #bf616a
! *.color2:     #a9b665
! *.color10:    #bbc585
! *.color3:     #d8a657
! *.color11:    #e1bb7e
! *.color4:     #7daea3
! *.color12:    #9dc2ba
! *.color5:     #d3869b
! *.color13:    #e1acbb
! *.color6:     #89b482
! *.color14:    #a7c7a2
! *.color7:     #d4be98
! *.color15:    #e2d3ba
!
